@using Microsoft.Extensions.FileProviders
@Model IDirectoryContents

@{
    ViewData["Title"] = "Home Page";
}

<h2>Folder Contents</h2>

<button asp-action="Scan">Scan</button>

<ul>
    @foreach (IFileInfo item in Model)
    {
        <li>@item.Name - @item.Length bytes</li>
    }
</ul>