@using Microsoft.Extensions.FileProviders
@model  IDirectoryContents
@{
    ViewData["Title"] = "Home page";
}

<h2>Folder Contents</h2>

<ul>
    @foreach (IFileInfo item in Model)
    {
        if (item.IsDirectory)
        {
            <li><strong>@item.Name</strong> - Directory</li>
        }
        else
        {
            <li><strong>@item.Name</strong> - @item.PhysicalPath </li>
        }
    }
</ul>

